* {
    box-sizing: border-box;
    position: relative;
    font-family: $en-fonts-family;
    color: $g-text-primary;
}
body{
    color: var(--neutral-900);
}
img{
    display: block;
}
.container{
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    padding: 0 $spac-12;
    margin: 0 auto;
}
.shadow{
    box-shadow: 0 0 16 #000 0.12;
}