// Brand Colors
$primary-color: #4a69e8;
$secondary-color: #36c99f;
$black: #141a1f;
$white: #fcfcfd;

// Variants
$primary-97: #f1f4fd;
$primary-90: #d2d9f9;
$primary-80: #a4b4f3;
$primary-70: #778eee;
$primary-60: #4a69e8;
$primary-40: #1736b5;
$primary-25: #0e2271;

$secondary-90: #d7f4ec;
$secondary-70: #87dec5;
$secondary-50: #36c99f;
$secondary-35: #268c6f;

$natural-95: #f0f3f5;
$natural-90: #e0e5eb;
$natural-85: #d1d9e1;
$natural-75: #b2bfcc;
$natural-60: #8599ad;
$natural-50: #667f99;
$natural-30: #3d4d5c;
$natural-10: #141a1f;

$alpha: rgba($black, 0.6);

$success-90: #defccf;
$success-40: #47c20a;
$success-30: #369108;

$danger-90: #ffd0cc;
$danger-70: #ff7467;
$danger-45: #e51300;

$warning-90: #ffeacc;
$warning-48: #f58f00;
$warning-35: #b26800;