$spac-80: 80px;
$spac-72: 72px;
$spac-64: 64px;
$spac-48: 48px;
$spac-40: 40px;
$spac-32: 32px;
$spac-24: 24px;
$spac-20: 20px;
$spac-16: 16px;
$spac-12: 12px;
$spac-8: 8px;
$spac-4: 4px;

.spac-80{gap: 80px;}
.spac-72{gap: 72px;}
.spac-64{gap: 64px;}
.spac-48{gap: 48px;}
.spac-40{gap: 40px;}
.spac-32{gap: 32px;}
.spac-24{gap: 24px;}
.spac-20{gap: 20px;}
.spac-16{gap: 16px;}
.spac-12{gap: 12px;}
.spac-8{gap: 8px;}
.spac-4{gap: 4px;}

.spac-card-400{gap: 400px;};
.spac-card-730{gap: 730px;};

.spac-btn-20{gap: 20px;}
.spac-btn-16{gap: 16px;}
.spac-btn-12{gap: 12px;}
.spac-btn-4{gap: 4px;}

.spac-section-80{gap: 80px;}
.spac-section-12{gap: 12px;}

@media (max-width: 376px) {
    .spac-48{gap: 24px};
    .spac-24{gap: 16px};
    .spac-card-400{gap: 320px;}
    .spac-card-730{gap: 625px;}
    .spac-btn-20{gap: 12px;}
    .spac-btn-16{gap: 12px;}
    .spac-btn-12{gap: 8px;}
    .spac-btn-4{gap: 0;}
    .spac-section-80{gap: 48px;}
    .spac-section-12{gap: 0;}
}