.h1, .display{
    font-size: 5rem;
    font-weight: bold;
}
.h2, .title-5xl{
    font-size: 3rem;
    font-weight: bold;
}
.h3, .title-4xl{
    font-size: 2rem;
    font-weight: bold;
}
.h4, .title-3xl{
    font-size: 1.75rem;
    font-weight: bold;
}
.h5, .title-2xl{
    font-size: 1.5rem;
    font-weight: bold;
}
.h6, .title-xl{
    font-size: 1.25rem;
    font-weight: bold;
}
.body-lg{
    font-size: 1.125rem;
    font-weight: 400;
}
.body-md{
    font-size: 1rem;
    font-weight: 400;
}
.body-sm{
    font-size: 0.875rem;
    font-weight: 400;
}
.body-xs{
    font-size: 0.75rem;
    font-weight: 400;
}

@media (max-width: 769px) {
    .h1, .display{
        font-size: 3rem;
        font-weight: bold;
    }
    .h2, .title-5xl{
        font-size: 2rem;
        font-weight: bold;
    }
    .h3, .title-4xl{
        font-size: 1.75rem;
        font-weight: bold;
    }
    .h4, .title-3xl{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .h5, .title-2xl{
        font-size: 1.25rem;
        font-weight: bold;
    }
    .h6, .title-xl{
        font-size: 1.125rem;
        font-weight: bold;
    }
    .body-lg{
        font-size: 1rem;
        font-weight: 400;
    }
    .body-md{
        font-size: 0.875rem;
        font-weight: 400;
    }
    .body-sm{
        font-size: 0.875rem;
        font-weight: 400;
    }
    .body-xs{
        font-size: 0.75rem;
        font-weight: 400;
    }
}