$en-fonts-family: "Inter", sans-serif;
$tw-fonts-family: "Noto Sans TC", Horizontal, sans-serif;

h1, h2, h3, h4, h5, h6{
    font-family: $en-fonts-family;
    font-weight: 700;
    line-height: 1.2;
}
p, li, a {
    font-family: $en-fonts-family;
    font-weight: 400;
    line-height: 1.5;
}
a {
    display: block;
    text-decoration: none;
    outline: none;
}

.en-display, .en-title-5xl, .en-title-4xl, .en-title-3xl, .en-title-2xl, .en-title-xl, .en-b-l, .en-b-m, .en-b-s, .en-b-xs{
    font-family: $en-fonts-family;
}
.tw-display, .tw-title-5xl, .tw-title-4xl, .tw-title-3xl, .tw-title-2xl, .tw-title-xl, .tw-b-l, .tw-b-m, .tw-b-s, .tw-b-xs{
    font-family: $tw-fonts-family;
}
.en-display, .tw-display{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}
.en-title-5xl, .tw-title-5xl{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}
.en-title-4xl, .tw-title-4xl{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}
.en-title-3xl, .tw-title-3xl{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
}
.en-title-2xl, .tw-title-2xl{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}
.en-title-xl, .tw-title-xl{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
}
.en-b-l, .tw-b-l{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}
.en-b-m, .tw-b-m{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.en-b-s, .tw-b-s{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}
.en-b-xs, .tw-b-xs{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
}

@media (max-width: 576px) {
    .en-display, .tw-display{
        font-size: 3rem;
        line-height: 1.2;
    }
    .en-title-5xl, .tw-title-5xl{
        font-size: 2rem;
    }
    .en-title-4xl, .tw-title-4xl{
        font-size: 1.75rem;
    }
    .en-title-3xl, .tw-title-3xl{
        font-size: 1.5rem;
    }
    .en-title-2xl, .tw-title-2xl{
        font-size: 1.25rem;
    }
    .en-title-xl, .tw-title-xl{
        font-size: 1.125rem;
    }
    .en-b-l, .tw-b-l{
        font-size: 1rem;
    }
    .en-b-m, .tw-b-m{
        font-size: 0.875rem;
    }
    .en-b-s, .tw-b-s{
        font-size: 0.875rem;
    }
    .en-b-xs, .tw-b-xs{
        font-size: 0.75rem;
    }
}