// global-color
$g-primary: $primary-60;
$g-secondary: $secondary-50;
$g-light: $white;
$g-icon-primary: $g-primary; 
$g-icon-secondary: $natural-50; 
$g-icon-default: $black;
$g-icon-deep: $g-light;
$g-icon-error: $danger-45;
$g-bg-primary: $g-light;
$g-bg-secondary: $natural-95;
$g-bg-action-primary: $g-primary;
$g-bg-action-secondary: $secondary-90;
$g-bg-error: $danger-45;
$g-border-primary: $natural-85;
$g-border-secondary: $g-primary;
$g-text-primary: $black;
$g-text-secondary: $natural-50;
$g-text-hover-primary: $g-primary;
$g-text-deepbg-primary: $g-light;
$g-text-error: $danger-45;
$g-text-finish: $natural-60;
$g-mask-bg: $alpha;

// button
$b-default-bg: $black;
$b-default-bg-hover: $g-secondary;
$b-default-lg-bg: $g-secondary;
$b-default-lg-bg-hover: $g-primary;
$b-ghost-bg: $g-light;
$b-ghost-bg-hover: $natural-90;
$b-success-bg: $success-40;
$b-success-bg-hover: $success-30;
$b-danger-bg: $danger-70;
$b-danger-bg-hover: $danger-45;
$b-warning-bg: $warning-48;
$b-warning-bg-hover: $warning-35;
$b-disable-bg: $natural-75;
$b-disable-bg-hover: $natural-50;

// input
$in-default-bg: $g-light;
$in-default-border: $natural-85;
$in-active-border-outline: $primary-90;
$in-active-border: $g-primary;
$in-error-border: $danger-45;
$in-error-tips-bg: $danger-90;
$in-disable-bg: $natural-75;

// table
$table-bg-head: $g-light;
$table-bg-body-odd: $g-light;
$table-bg-body-even: $natural-90;
$table-bg-body-hover: $primary-90;