<footer class="footer">
    <div class="container">
        <nav class="nav">
            <a href="#" class="nav-item">服務方案</a>
            <a href="#" class="nav-item">關於職旅</a>
            <a href="#" class="nav-item">聯絡我們</a>
            <a href="#" class="nav-item">隱私權政策</a>
            <a href="#" class="nav-item">用戶條款</a>
        </nav>
        <p class="copyright b-s">Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
</footer>