<footer class="footer border-top">
    <div class="container px-3 py-5">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav justify-content-center align-items-center align-self-start">
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#">服務方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#">關於職旅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#">聯絡我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#">用戶條款</a>
                </li>
            </ul>
            <p class="copyright text-end text-nowrap">Copyright © 2025 職旅 workway. All rights reserved.</p>
        </div>
    </div>
</footer>