<footer class="footer">
    <div class="container">
        <ul class="nav body-md">
            <li class="nav-item">
                <a class="nav-link" href="./service.html">服務方案</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about.html">關於職旅</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contact.html">聯絡我們</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./privacy-policy.html">隱私權政策</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./user-terms.html">用戶條款</a>
            </li>
        </ul>
        <p class="copyright body-sm">Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
</footer>