<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../assets/images/logo.svg" alt="logo">
        </div>
        <nav class="nav">
            <a href="#" class="nav-item">服務方案</a>
            <a href="#" class="nav-item">關於職旅</a>
            <a href="#" class="nav-item">聯絡我們</a>
        </nav>
        <div class="member"></div>
    </div>
</header>