<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container">
            <a class="navbar-brand" href="./index.html">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
            <div class="login">
                <button type="button" class="btn btn-md-outline body-md mobile-btn" data-bs-toggle="modal" data-bs-target="#authModal">登入/註冊</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="./service.html">服務方案</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./about.html">關於職旅</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./contact.html">聯絡我們</a>
                    </li>
                </ul>
                <!-- <a href="user.html"><img src="/assets/images/avatar.png" alt="avatar" class="user-avatar rounded-circle border me-2">Mokumaru</a> -->

                <!-- 點擊此按鈕開啟 Modal -->
                <button type="button" class="btn btn-md-outline body-md" data-bs-toggle="modal" data-bs-target="#authModal">登入/註冊</button>

                <!-- 單一的彈出視窗 Modal -->
                <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-body">
                        <!-- 登入頁面容器 -->
                        <div class="auth-layout" id="login-section">
                        <div class="auth-image-section">
                            <img src="../assets/images/login.png" alt="login-img">
                        </div>
                        <div class="auth-form-section">
                            <h5 class="modal-title">登入</h5>
                            <form>
                            <div class="other-btns">
                                <button type="button" class="btn btn-md-outline body-md"><img src="../assets/images/google_logo.svg" alt="google logo">Google</button>
                                <button type="button" class="btn btn-md-outline body-md"><img src="../assets/images/discord_logo.svg" alt="discord logo">Discord</button>
                            </div>
                            <div class="form-group">
                                <div class="form-floating body-md">
                                    <input type="email" class="form-control" id="login-email" placeholder="帳號">
                                    <label for="login-email">帳號</label>
                                </div>
                                <div class="form-floating body-md">
                                    <input type="password" class="form-control" id="login-password" placeholder="密碼">
                                    <label for="login-password">密碼<a href="#"><span class="material-symbols-outlined align-bottom">visibility_off</span></a></label>
                                </div>
                                <div class="forget-password"><a href="#" class="body-sm">忘記密碼</a></div>
                                <button type="submit" class="btn btn-md-fill body-md">送出<span class="material-symbols-outlined align-bottom">chevron_right</span></button>
                            </div>
                            </form>
                            <div class="link-switch body-md"><span>不是會員？</span><a href="#" id="show-register-form">快速註冊</a></div>
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        </div>

                        <!-- 註冊頁面容器 (預設隱藏) -->
                        <div class="auth-layout" id="register-section">
                        <div class="auth-form-section">
                            <h5 class="modal-title">註冊</h5>
                            <form>
                            <div class="other-btns">
                                <button type="button" class="btn btn-md-outline body-md"><img src="../assets/images/google_logo.svg" alt="google logo">Google</button>
                                <button type="button" class="btn btn-md-outline body-md"><img src="../assets/images/discord_logo.svg" alt="discord logo">Discord</button>
                            </div>
                            <div class="form-group">
                                <div class="form-floating body-md">
                                    <input type="email" class="form-control" id="register-email" placeholder="帳號">
                                    <label for="register-email">帳號</label>
                                </div>
                                <div class="form-floating body-md">
                                    <input type="password" class="form-control" id="register-password" placeholder="密碼">
                                    <label for="register-password">密碼<a href="#"><span class="material-symbols-outlined align-bottom">visibility_off</span></a></label>
                                </div>
                                <div class="form-floating body-md">
                                    <input type="password" class="form-control" id="register-password-again" placeholder="確認密碼">
                                    <label for="register-password-again">確認密碼<a href="#"><span class="material-symbols-outlined align-bottom">visibility_off</span></a></label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="agree">
                                    <label class="form-check-label body-sm" for="agree">
                                    <span>我同意</span><a href="./user-terms.html">服務條款</a><span>和</span><a href="./privacy-policy.html">隱私政策</a>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-md-fill body-md">送出<span class="material-symbols-outlined align-bottom">chevron_right</span></button>
                            </div>
                            </form>
                            <div class="link-switch body-md"><span>已經會員？</span><a href="#" id="show-login-form">直接登入</a></div>
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="auth-image-section">
                            <img src="../assets/images/register.png" alt="register-img">
                        </div>
                        </div>

                    </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </nav>
</header>