<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../assets/images/logo.svg" alt="logo">
        </div>
        <nav class="nav spac-12">
            <a href="#" class="nav-item radius-btn">服務方案</a>
            <a href="#" class="nav-item radius-btn">關於職旅</a>
            <a href="#" class="nav-item radius-btn">聯絡我們</a>
        </nav>
        <div class="member">
            <a href="#" class="login radius-btn">登入/註冊</a>
            <a href="#" class="logout userdata">
                <div class="imgs radius-1000">
                    <img src="../assets/images/avatar.png" alt="avatar">
                </div>
                <p class="name">Mokumaru</p>
            </a>
        </div>
    </div>
</header>