<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="./service.html">服務方案</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./about.html">關於職旅</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="./contact.html">聯絡我們</a>
                    </li>
                </ul>
                <!-- <a href="user.html"><img src="/assets/images/avatar.png" alt="avatar" class="user-avatar rounded-circle border me-2">Mokumaru</a> -->

                <button type="button" class="btn btn-md-outline login body-md" data-bs-toggle="modal" data-bs-target="#authModal">登入/註冊</button>

                <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                        <div class="row g-0">
                            <div class="col-6 bg-light d-flex flex-column p-4 text-center justify-content-center" id="login-image-section">
                            <img src="https://via.placeholder.com/300x400" class="img-fluid rounded mb-3" alt="...">
                            <h4>歡迎回來！</h4>
                            <p>WorkWay 都在你身旁</p>
                            </div>
                            <div class="col-6 bg-light d-flex flex-column p-4 text-center justify-content-center d-none" id="register-image-section">
                            <img src="https://via.placeholder.com/300x400" class="img-fluid rounded mb-3" alt="...">
                            <h4>註冊新帳號</h4>
                            <p>每一天都不會再是沒有方向的你</p>
                            </div>

                            <div class="col-6 p-4">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div id="login-form-content">
                                <h5 class="modal-title mb-4" id="authModalLabel">登入</h5>
                                <form>
                                <div class="mb-3">
                                    <label for="login-email" class="form-label">電子郵件</label>
                                    <input type="email" class="form-control" id="login-email">
                                </div>
                                <div class="mb-3">
                                    <label for="login-password" class="form-label">密碼</label>
                                    <input type="password" class="form-control" id="login-password">
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">登入</button>
                                </div>
                                </form>
                                <div class="text-center mt-3">
                                還沒有帳號？ <a href="#" id="show-register-form">註冊</a>
                                </div>
                            </div>

                            <div id="register-form-content" class="d-none">
                                <h5 class="modal-title mb-4">註冊</h5>
                                <form>
                                <div class="mb-3">
                                    <label for="register-email" class="form-label">電子郵件</label>
                                    <input type="email" class="form-control" id="register-email">
                                </div>
                                <div class="mb-3">
                                    <label for="register-password" class="form-label">密碼</label>
                                    <input type="password" class="form-control" id="register-password">
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">註冊</button>
                                </div>
                                </form>
                                <div class="text-center mt-3">
                                已有帳號？ <a href="#" id="show-login-form">登入</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>