.btn-md-fill{
    display: flex;
    align-items: center;
    gap: $spac-4;
    color: $g-text-deepbg-primary;
    letter-spacing: 0.02rem;
    background-color: $b-default-bg;
    padding: $spac-12 $spac-12 $spac-12 $spac-20;
    transition: all 600ms;
    .icons{
        width: 20px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover, &.hover, &:active, &.active{
        background-color: $b-default-bg-hover;
    }
}
.btn-md-outline{
    display: flex;
    align-items: center;
    gap: $spac-4;
    color: $g-text-primary;
    letter-spacing: 0.02rem;
    background-color: $b-ghost-bg;
    padding: $spac-12 $spac-12 $spac-12 $spac-20;
    transition: all 600ms;
    .icons{
        width: 20px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover, &.hover, &:active, &.active{
        background-color: $b-ghost-bg-hover;
    }
}
.btn-lg{
    display: flex;
    align-items: center;
    gap: $spac-4;
    color: $g-text-primary;
    letter-spacing: 0.02rem;
    background-color: $b-default-lg-bg;
    padding: $spac-12 $spac-12 $spac-12 $spac-20;
    transition: all 600ms;
    .icons{
        width: 28px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover, &.hover, &:active, &.active{
        background-color: $b-default-lg-bg-hover;
    }
}
.btn-icon{
    max-width: 44px;
    max-height: 44px;
    aspect-ratio: 1 / 1;
    &:hover, &.hover, &:active, &.active{
        background-color: $b-ghost-bg-hover;
    }
}
.btn-sm{
    color: $g-text-secondary;
    background-color: $b-ghost-bg;
    border: 1px solid $g-border-primary;
    padding: $spac-4 $spac-4 $spac-4 $spac-8;
    &:hover, &.hover, &:active, &.active{
        border: none;
        background-color: $b-ghost-bg-hover;
    }
}

@media (max-width: 376px) {
    .btn-md-fill, .btn-md-outline{
        gap: 0;
        padding: $spac-12 $spac-8 $spac-12 $spac-12;
    }
    .btn-lg{
        gap: 0;
        padding: $spac-8 $spac-8 $spac-8 $spac-12;
    }
}