.checkbox{
    input{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        &:hover, &.hover, &:active, &.active{
            background-color: $g-bg-action-primary;
            border: none;
            &::after{
                content: '\2713';
                font-size: 14px;
                color: $g-icon-deep;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 1;
            }
        }
        &:checked + label .custom-checkbox{
            background-color: $g-bg-action-primary;
            border: none;
            &::after{
                content: '\2713';
                font-size: 14px;
                color: $g-icon-deep;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 1;
            }
        }
    }
    label{
        display: flex;
        align-items: center;
        gap: $spac-4;
        .custom-checkbox{
            position: relative;
            display: inline-block;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: $in-default-bg;
            border: 1px solid $in-default-border;
            border-radius: 4px;
            flex-shrink: 0;
            transition: all 600ms;
            &:hover, &.hover, &:active, &.active{
                background-color: $g-bg-action-primary;
                border: none;
                &::after{
                    content: '\2713';
                    font-size: 14px;
                    color: $g-icon-deep;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    line-height: 1;
                }
            }
            &.error{
                background-color: $in-error-tips-bg;
                border: 1px solid $in-error-border;
            }
            &:disabled, &.disable{
                background-color: $in-disable-bg;
                border: none;
            }
        }
    }
}