.input{
    position: relative;
    border: 4px solid transparent;
    border-radius: 12px;
    transition: all 600ms;
    label{
        position: absolute;
        top: 50%;
        left: $spac-12;
        transform: translateY(-50%);
        font-family: $tw-fonts-family;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02rem;
        z-index: 1;
    }
    input{
        width: 100%;
        min-height: 44px;
        background-color: $in-default-bg;
        border-radius: 8px;
        border: 1px solid $in-default-border;
        padding: $spac-16 $spac-12;
        outline: none;
        &::placeholder{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02rem;
            color: $g-text-primary;
            opacity: 0;
        }
    }
    .error-box{
        display: none;
        align-items: center;
        gap: $spac-4;
        background-color: $in-error-tips-bg;
        padding: 0 $spac-8;
        margin-top: $spac-4;
        span{
            font-size: 0.75rem;
            color: $g-text-error;
        }
        p{
            color: $g-text-error;
        }
    }
    &:active, &.active, &:focus, &.focus{
        border: 4px solid $in-active-border-outline;
        label{
            position: relative;
            top: $spac-4;
            font-size: 0.875rem;
            color: $g-text-secondary;
        }
        input{
            border: none;
        }
    }
    &.fill{
        border: 1px solid $g-border-primary;
        label{
            position: relative;
            top: $spac-4;
            font-size: 0.875rem;
            color: $g-text-secondary;
        }
        input{
            background-color: transparent;
            border: none;
            &::placeholder{
                opacity: 1;
            }
        }
        .error-box{
            position: absolute;
            width: 100%;
        }
    }
    &.error{
        input{
            border: 1px solid $in-error-border;
        }
        .error-box{
            display: flex;
        }
    }
    &:disabled , &.disable{
        label{
            color: $g-text-secondary;
        }
        input{
            background-color: $in-disable-bg;
        }
    }
    &.disable-fill{
        input{
            background-color: $in-disable-bg;
        }
    }
}