.list-qa-on{}
.list-qa-off{
    background-color: $g-bg-primary;
    border-radius: 12px;
    border: 1px solid $g-border-primary;
    padding: $spac-24;
    .list-item{
        display: flex;
        gap: $spac-8;
    }
}