.radio{
    input{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        &:hover, &.hover, &:active, &.active{
            background-color: $g-light;
            border: 1px solid $g-bg-action-primary;
            &::after{
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: $g-bg-action-primary;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:checked + label .custom-radio{
            background-color: $g-light;
            border: 1px solid $g-bg-action-primary;
            &::after{
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: $g-bg-action-primary;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    label{
        display: flex;
        align-items: center;
        gap: $spac-4;
        .custom-radio{
            position: relative;
            display: inline-block;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: $in-default-bg;
            border: 1px solid $in-default-border;
            border-radius: 50%;
            flex-shrink: 0;
            transition: all 600ms;
            &:hover, &.hover, &:active, &.active{
                background-color: $g-light;
                border: 1px solid $g-bg-action-primary;
                &::after{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: $g-bg-action-primary;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &.error{
                background-color: $in-error-tips-bg;
                border: 1px solid $in-error-border;
            }
            &:disabled, &.disable{
                background-color: $in-disable-bg;
                border: 2px solid $in-disable-bg;
            }
        }
    }
}