.table-custom{
    th, td{
        font-weight: 500;
        border-bottom: 1px solid $border-primary;
    }
    thead{
        background-color: $table-bg-head;
        padding: 0.5rem var(--spac-btn12-8);
    }
    tbody{
        th, td{
            padding: 0.8125rem var(--spac-btn12-8);
        }
        tr td span{
            min-height: 1.5rem;
            color: $text-secondary;
            background-color: $light;
            border: 1px solid $border-primary;
            border-radius: var(--radius-tag);
            padding: 0 8px;
        }
        tr:nth-child(odd){
            th, td{
                background-color: $table-bg-body-odd;
            }
        }
        tr:nth-child(even){
            th, td{
                background-color: $table-bg-body-even;
            }
        }
        tr:hover{
            th, td{
                background-color: $table-bg-body-hover;
            }
        }
        .finish{
            th, td{
                color: $text-finish;
            }
        }
    }
}
.accordion-list{
    .accordion-item{
        border: 1px solid $border-primary;
        border-radius: .75rem;
        box-shadow: $box-shadow;
        overflow: hidden;
        .accordion-header .accordion-button{
            font-weight: 700;
            span{
                margin: 0 .5rem;
            }
        }
        .accordion-collapse.show {
        position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 2rem; 
                right: 2rem; 
                height: 1px;
                border-top: 1px dashed $border-primary; 
            }
        }
        .accordion-body {
            display: flex;
            gap: .5rem;
            padding-top: 1.5rem; 
            p:first-child{
                color: $text-hover-primary;
                margin-left: .5rem;
            }
        }
    }
}