.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 24px;
}
.col-1-xl{
    grid-column: span 1;
}
.col-2-xl{
    grid-column: span 2;
}
.col-3-xl{
    grid-column: span 3;
}
.col-4-xl{
    grid-column: span 4;
}
.col-5-xl{
    grid-column: span 5;
}
.col-6-xl{
    grid-column: span 6;
}
.col-7-xl{
    grid-column: span 7;
}
.col-8-xl{
    grid-column: span 8;
}
.col-9-xl{
    grid-column: span 9;
}
.col-10-xl{
    grid-column: span 10;
}
.col-11-xl{
    grid-column: span 11;
}
.col-12-xl{
    grid-column: span 12;
}

@media (max-width: 376px) {
    .grid-wrapper{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 16px;
    }
    .col-1-xs{
        grid-column: span 1;
    }
    .col-2-xs{
        grid-column: span 2;
    }
    .col-3-xs{
        grid-column: span 3;
    }
    .col-4-xs{
        grid-column: span 4;
    }
}