.header{
  .navbar{
    .container{
      .navbar-nav{
        display: flex;
        gap: .75rem;
      }
      .user-avatar{
        width: 44px;
        height: 44px;
        aspect-ratio: 1 / 1;
      }
      .login{
        padding: .5rem var(--spac24-16);
      }
    }
  }
}

#loginModal{
  .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}