.header{
  .navbar{
    .container{
      .navbar-nav{
        .nav-item{
          margin-right: 12px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .user-avatar{
        width: 44px;
        height: 44px;
        aspect-ratio: 1 / 1;
      }
    }
  }
}