.main-contact{
    background-color: $bg-secondary;
    padding: var(--spac-section80-48) .75rem;
    .container{
        position: relative;
        max-width: 1076px;
        display: flex;
        flex-direction: column;
        gap: var(--spac48-24);
        .title{
            display: flex;
            flex-direction: column;
            gap: var(--spac24-16);
            text-align: center;
            p{
                color: $text-secondary;
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            gap: var(--spac48-24);
            background-color: $bg-primary;
            border-radius: var(--radius-card);
            padding: var(--spac48-24);
            box-shadow: $box-shadow;
            .contact-form{
                display: flex;
                gap: var(--spac24-16);
                border-bottom: 1px solid $border-primary;
                padding-bottom: var(--spac48-24);
                &:nth-child(3){
                    border: none;
                }
                .title{
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    gap: var(--spac-btn12-8);
                    text-align: start;
                    h2{
                        font-weight: 500;
                    }
                    p{
                        color: $text-secondary;
                    }
                    span{
                        color: $text-deepbg-primary;
                        font-weight: 500;
                        background-color: $bg-error;
                        padding: .25rem .5rem;
                        margin-left: .25rem;
                    }
                }
                .input-group{
                    min-width: 300px;
                    display: flex;
                    flex-direction: column;
                    gap: var(--spac24-16);
                    flex-grow: 1;
                    .form-floating{
                        width: 100%;
                        input{
                            border-radius: .5rem;
                        }
                        label{
                            color: $text-primary;
                        }
                        p{
                            color: $text-secondary;
                            padding: 0 .5rem;
                            margin: 0;
                        }
                        textarea{
                            height: 160px;
                            min-height: 44px;
                            border-radius: .5rem;
                            padding: 1rem .75rem;
                        }
                    }
                    .form-select{
                        width: 100%;
                        border-radius: .5rem !important;
                    }
                    .contact-form-checkbox-list{
                        min-height: 56px;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        .checkbox-list{
                            display: flex;
                            gap: 0 var(--spac24-16);
                            flex-wrap: wrap;
                            padding: 0 var(--spac-section8-0);
                            .form-check{
                                display: flex;
                                gap: .25rem;
                                input{
                                    width: 20px;
                                    height: 20px;
                                }
                                label{
                                    margin-top: .25rem;
                                }
                            }
                        }
                        .remark{
                            color: $text-secondary;
                            padding: 0 var(--spac-section8-0);
                        }
                    }
                    .contact-form-radio-list{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        .radio-list{
                            display: flex;
                            gap: var(--spac24-16);
                            padding: 0 .5rem;
                            .form-radio{
                                display: flex;
                                gap: .25rem;
                                input{
                                    width: 20px;
                                    height: 20px;
                                }
                                label{
                                    margin-bottom: .25rem;
                                }
                            }
                        }
                    }
                    .date-control{
                        label{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span{
                                font-size: 20px;
                            }
                        }
                    }
                    .agree-check{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        .form-check{
                            display: flex;
                            gap: .25rem;
                            input{
                                width: 20px;
                                height: 20px;
                            }
                            label{
                                display: flex;
                                gap: .25rem;
                                margin-top: .25rem;
                                a{
                                    color: $text-hover-primary;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .btns{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--spac24-16);
                button{
                    padding-right: var(--spac-btn12-8);
                }
            }
        }
        .top-img{
            position: absolute;
            top: 0;
            right: 2.5rem;
            width: 120px;
        }
    }
}

@media (max-width: 1024px) {
    .main-contact{
        .container{
            .top-img{
                display: none;
            }
        }
    }
}

@media (max-width: 769px) {
    .main-contact{
        .container{
            padding: 0;
            .content{
                .contact-form{
                    flex-direction: column;                    
                    .title{
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}