.data-main{
    background-color: $g-bg-secondary;
    padding: $spac-80 $spac-12;
    .container{
        gap: $spac-24;
        .tab-list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $spac-24;
        }
    }
}