<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>/
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="main main-about">
      <section class="banner">
          <div class="banner-img"><img src="../assets/images/service/banner-bg-pc.png" alt="banner"></div>
          <div class="container">
            <h1 class="title-5xl">關於職旅</h1>
            <p class="body-lg">職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。<br>無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。</p>
          </div>
          <div class="banner-person"><img src="../assets/images/service/banner-person.svg" alt="banner-person"></div>
        </section>
        <section class="partner">
          <div class="container">
            <div class="title">
              <h2 class="title-4xl">精實的職旅夥伴</h2>
              <p class="body-lg">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
            </div>
            <div class="cards">
              <div class="card-mentor">
                <img src="../assets/images/about/mentor-1.png" alt="mentor-1">
                <div class="card-body">
                  <div class="card-text">
                    <p class="body-md">數位遊牧先驅</p>
                    <h5 class="title-2xl">陳志遠 Ethan Chen</h5>
                  </div>
                  <div class="card-tags">
                    <span class="btn btn-sm"># 遠端工作策略</span>
                    <span class="btn btn-sm"># 數位遊牧生活設計</span>
                  </div>
                </div>
              </div>
              <div class="card-mentor">
                <img src="../assets/images/about/mentor-2.png" alt="mentor-2">
                <div class="card-body">
                  <div class="card-text">
                    <p class="body-md">個人品牌策略專家</p>
                    <h5 class="title-2xl">林曉彤 Clara Lin</h5>
                  </div>
                  <div class="card-tags">
                    <span class="btn btn-sm"># 個人品牌建立</span>
                    <span class="btn btn-sm"># 內容行銷策略</span>
                    <span class="btn btn-sm"># 故事行銷</span>
                  </div>
                </div>
              </div>
              <div class="card-mentor">
                <img src="../assets/images/about/mentor-3.png" alt="mentor-3">
                <div class="card-body">
                  <div class="card-text">
                    <p class="body-md">財務自由規劃顧問</p>
                    <h5 class="title-2xl">王建明 Marcus</h5>
                  </div>
                  <div class="card-tags">
                    <span class="btn btn-sm"># 稅務優化</span>
                    <span class="btn btn-sm"># 被動收入建立</span>
                    <span class="btn btn-sm"># 現金流管理</span>
                  </div>
                </div>
              </div>
              <div class="card-mentor">
                <img src="../assets/images/about/mentor-4.png" alt="mentor-4">
                <div class="card-body">
                  <div class="card-text">
                    <p class="body-md">創意接案與多元收入專家</p>
                    <h5 class="title-2xl">張雅琳 Ariel</h5>
                  </div>
                  <div class="card-tags">
                    <span class="btn btn-sm"># 創意變現策略</span>
                    <span class="btn btn-sm"># 線上課程開發</span>
                  </div>
                </div>
              </div>
              <div class="card-mentor">
                <img src="../assets/images/about/mentor-5.png" alt="mentor-5">
                <div class="card-body">
                  <div class="card-text">
                    <p class="body-md">遠端工作技術顧問</p>
                    <h5 class="title-2xl">李俊宏 Kevin Lee</h5>
                  </div>
                  <div class="card-tags">
                    <span class="btn btn-sm"># 專案管理自動化</span>
                    <span class="btn btn-sm"># 虛擬團隊管理</span>
                  </div>
                </div>
              </div>
              <div class="card-mentor">
                <img src="../assets/images/about/mentor-6.png" alt="mentor-6">
                <div class="card-body">
                  <div class="card-text">
                    <p class="body-md">生活設計與健康平衡教練</p>
                    <h5 class="title-2xl">吳曉雯 Vivian</h5>
                  </div>
                  <div class="card-tags">
                    <span class="btn btn-sm"># 時間管理</span>
                    <span class="btn btn-sm"># 職涯與家庭整合</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-promise">
              <div class="text">
                <div class="dialog"><span class="title-xl">團隊承諾</span></div>
                <p class="body-md">我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。</p>
              </div>
              <img src="../assets/images/about/text-pc.svg" alt="text" class="desktop-img">
              <img src="../assets/images/about/text-mb.svg" alt="text" class="mobile-img">
            </div>
          </div>
        </section>
        <section class="co-info">
          <div class="container">
            <h2 class="title title-4xl">公司資訊</h2>
            <div class="co-about">
              <table class="table co-table body-md">
                <tbody>
                  <tr>
                    <th scope="row">公司位置</th>
                    <td>110台北市信義區信義路五段7號</td>
                  </tr>
                  <tr>
                    <th scope="row">負責人</th>
                    <td>張世明</td>
                  </tr>
                  <tr>
                    <th scope="row">聯絡專線</th>
                    <td>02-2758-6600</td>
                  </tr>
                  <tr>
                    <th scope="row">營業時間</th>
                    <td>週一至週五 10:00～18:00（國定假日休息）</td>
                  </tr>
                  <tr>
                    <th scope="row">電子郵件</th>
                    <td>contact@workway.tw</td>
                  </tr>
                  <tr>
                    <th scope="row">成立時間</th>
                    <td>2023 年 6 月</td>
                  </tr>
                  <tr>
                    <th scope="row">統一編號</th>
                    <td>83149276</td>
                  </tr>
                </tbody>
              </table>
              <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0134128316695!2d121.56225747618412!3d25.033618877816604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da80a7ad%3A0xb422bceb61c26abc!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZnw!5e0!3m2!1szh-TW!2stw!4v1755678239057!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
          </div>
        </section>
      <%- include('./layout/cta'); -%>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <%- include('./layout/js-links'); -%>
  </body>
</html>
