<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <%- include('./layout/links'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="main main-contact">
      <div class="container">
        <div class="title">
          <h1 class="title-4xl">聯絡我們</h1>
          <p class="body-lg">每一封郵件，我們都會親自回覆。每一通電話，都是新可能的開始。</p>
        </div>
        <div class="content">
          <form action="" method="post" class="contact-form">
            <div class="title">
              <h2 class="title-2xl">基本資料</h2>
              <p class="subtitle body-md">欄位皆為<span class="body-sm radius-tag">必填</span></p>
            </div>
            <div class="input-group">
              <div class="form-floating">
                <input type="text" class="form-control" id="contact-form-name" placeholder="姓名">
                <label for="contact-form-name">姓名</label>
              </div>
              <div class="form-floating">
                <input type="email" class="form-control" id="contact-form-email" placeholder="信箱">
                <label for="contact-form-email">信箱</label>
                <p class="body-sm">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</p>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="contact-form-phone" placeholder="連絡電話">
                <label for="contact-form-phone">連絡電話</label>
                <p class="body-sm">我們不會以電話主動聯繫您，告知您要至ATM操作轉帳</p>
              </div>
              <select class="form-select" aria-label="Current occupation/work status">
                <option selected>目前職業/工作身分</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </form>
          <form action="" method="post" class="contact-form">
            <div class="title">
              <h2 class="title-2xl">諮詢需求</h2>
              <p class="subtitle body-md">欄位皆為<span class="body-sm radius-tag">必填</span></p>
            </div>
            <div class="input-group">
              <div class="contact-form-checkbox-list">
                <p class="body-md">諮詢主題</p>
                <div class="checkbox-list">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="career-exploration-direction">
                    <label class="form-check-label body-sm" for="career-exploration-direction">職涯探索與方向</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cases-monetizing-skills">
                    <label class="form-check-label body-sm" for="cases-monetizing-skills">接案與技能變現</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="brand-content">
                    <label class="form-check-label body-sm" for="brand-content">品牌與內容經營</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="remote-work-digital-nomadism">
                    <label class="form-check-label body-sm" for="remote-work-digital-nomadism">遠端工作與數位游牧</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="income-time-management">
                    <label class="form-check-label body-sm" for="income-time-management">收入與時間管理</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="consulting-topic-other">
                    <label class="form-check-label body-sm" for="consulting-topic-other">其他（請填寫下題）</label>
                  </div>
                </div>
                <p class="remark body-sm">可複選，讓我們更了解你的狀況，安排最適合的顧問與建議。</p>
              </div>
              <select class="form-select" aria-label="Current occupation/work status">
                <option selected>期望諮詢的專家</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </form>
        </div>
        <img src="../assets/images/contact/form-top.svg" alt="form-top" class="top-img">
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <%- include('./layout/js-links'); -%>
  </body>
</html>
