<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal data</title>
    <%- include('./layout/links'); -%>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="mian data-main">
        <div class="container">
            <div class="tab-list">
                <a href="./data.html" class="btn-md-outline radius-btn active">
                    <span class="material-symbols-outlined icons">face</span>
                    <span class="tw-b-m">個人資料</span>
                </a>
                <a href="./record.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">pending_actions</span>
                    <p>預約紀錄</p>
                </a>
                <a href="./plan.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">list_alt</span>
                    <p>職旅計畫</p>
                </a>
            </div>
            <div class="content radius-card shadow">
                <div class="forms">
                    <aside class="title">
                        <h1 class="tw-title-2xl">個人資料</h1>
                    </aside>
                    <div class="inputs-group">
                        <div class="pic">
                            <div class="imgs radius-1000">
                                <img src="../assets/images/avatar.png" alt="avatar">
                            </div>
                            <a href="#" class="btn-md-outline radius-btn">
                                <span class="material-symbols-outlined">upload</span>
                                <p>更新頭貼</p>
                            </a>
                        </div>
                        <div class="name-input">
                            <label for="name">姓名</label>
                            <input type="text" id="name" placeholder="Mokumaru">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
</body>
</html>