<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal data</title>
    <%- include('./layout/links'); -%>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="mian data-main">
        <div class="container">
            <div class="tab-list">
                <a href="./data.html" class="btn-md-outline radius-btn active">
                    <span class="material-symbols-outlined icons">face</span>
                    <span class="tw-b-m">個人資料</span>
                </a>
                <a href="./record.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">pending_actions</span>
                    <p>預約紀錄</p>
                </a>
                <a href="./plan.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">list_alt</span>
                    <p>職旅計畫</p>
                </a>
            </div>
            <div class="content radius-card shadow">
                <div class="forms">
                    <aside class="title">
                        <h1 class="tw-title-2xl">個人資料</h1>
                    </aside>
                    <div class="inputs-group">
                        <div class="pic">
                            <div class="imgs radius-1000">
                                <img src="../assets/images/avatar.png" alt="avatar">
                            </div>
                            <a href="#" class="btn-md-outline radius-btn">
                                <span class="material-symbols-outlined">upload</span>
                                <p>更新頭貼</p>
                            </a>
                        </div>
                        <div class="name-input input fill">
                            <label for="name">姓名</label>
                            <input type="text" id="name" placeholder="Mokumaru">
                            <div class="error-box">
                                <span class="material-symbols-outlined">error</span>
                                <p class="tw-b-xs">error text</p>
                            </div>
                        </div>
                        <div class="sex-input">
                            <p class="tw-b-m">性別</p>
                            <ul class="radio-list">
                                <li class="list-item radio">
                                    <input type="radio" id="radio-female" name="sex">
                                    <label for="radio-female">
                                        <span class="custom-radio active"></span>
                                        <span class="tw-b-s">女性</span>
                                    </label>
                                </li>
                                <li class="list-item radio">
                                    <input type="radio" id="radio-male" name="sex">
                                    <label for="radio-male">
                                        <span class="custom-radio"></span>
                                        <span class="tw-b-s">男性</span>
                                    </label>
                                </li>
                                <li class="list-item radio">
                                    <input type="radio" id="radio-nosex" name="sex">
                                    <label for="radio-nosex">
                                        <span class="custom-radio"></span>
                                        <span class="tw-b-s">不願透漏</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="birth-input input fill">
                            <label for="birth">生日</label>
                            <input type="text" id="birth" placeholder="2000/01/10">
                            <div class="error-box">
                                <span class="material-symbols-outlined">error</span>
                                <p class="tw-b-xs">error text</p>
                            </div>
                        </div>
                        <div class="password">
                            <p class="tw-b-m">密碼</p>
                            <a href="#" class="btn-md-outline radius-btn">
                                <span>修改密碼</span>
                                <span class="material-symbols-outlined">keyboard_arrow_right</span>
                            </a>
                        </div>
                        <div class="mail-input input fill">
                            <label for="mail">信箱</label>
                            <input type="text" id="mail" placeholder="mokumaru@mail.com">
                            <div class="error-box">
                                <span class="material-symbols-outlined">error</span>
                                <p class="tw-b-s">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</p>
                            </div>
                        </div>
                        <div class="phone-input input fill">
                            <label for="phone">連絡電話</label>
                            <input type="text" id="phone" placeholder="09-1234-5678">
                            <div class="error-box">
                                <span class="material-symbols-outlined">error</span>
                                <p class="tw-b-xs">error text</p>
                            </div>
                        </div>
                        <div class="address-input input fill">
                            <label for="address">通訊地址</label>
                            <input type="text" id="address" placeholder="高雄市三民區九如一路 87 號">
                            <div class="error-box">
                                <span class="material-symbols-outlined">error</span>
                                <p class="tw-b-xs">error text</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <a href="#" class="btn-md-outline radius-btn">
                        <span class="tw-b-m">重新填寫</span>
                        <span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                    <a href="#" class="btn-md-fill radius-btn">
                        <span class="tw-b-m">儲存更新</span>
                        <span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
</body>
</html>