<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <%- include('./layout/links'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="mian index-main">
      <section class="hero">
        <div class="container-fluid d-flex flex-column justify-content-center gap-8">
          <div class="text">
            <h1 class="display">一起陪伴、探索<br>還有你那些未完成的夢</h1>
            <div class="cta">
              <div class="para">
                <p class="body-lg">自由工作很美，也很難。</p>
                <p class="body-lg">我們用 1 對 1 陪伴，陪你從第一步開始，直到夢想變成日常</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <%- include('./layout/js-links'); -%>
  </body>
</html>
