<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Plan</title>
    <%- include('./layout/links'); -%>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="mian plan-main">
        <div class="container">
            <div class="tab-list">
                <a href="./data.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">face</span>
                    <span class="tw-b-m">個人資料</span>
                </a>
                <a href="./record.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">pending_actions</span>
                    <p>預約紀錄</p>
                </a>
                <a href="./plan.html" class="btn-md-outline radius-btn active">
                    <span class="material-symbols-outlined icons">list_alt</span>
                    <p>職旅計畫</p>
                </a>
            </div>
            <div class="content radius-card shadow">
                <form action="#" method="post" class="overview-form">
                    <div class="title-group">
                        <h2 class="tw-title-2xl">職旅計畫概況</h2>
                        <p class="tw-b-m">欄位皆為<span class="tw-b-s">必填</span></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
</body>
</html>