<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Record</title>
    <%- include('./layout/links'); -%>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="mian record-main">
        <div class="container">
            <div class="tab-list">
                <a href="./data.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">face</span>
                    <span class="tw-b-m">個人資料</span>
                </a>
                <a href="./record.html" class="btn-md-outline radius-btn active">
                    <span class="material-symbols-outlined icons">pending_actions</span>
                    <p>預約紀錄</p>
                </a>
                <a href="./plan.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">list_alt</span>
                    <p>職旅計畫</p>
                </a>
            </div>
            <div class="content radius-card shadow">
                <div class="record-cards">
                    <h1 class="tw-title-2xl">預約紀錄</h1>
                    <ul class="cards">
                        <li class="card radius-card">
                            <span class="en-title-4xl">3</span>
                            <p class="tw-b-l">已完成諮詢</p>
                        </li>
                        <li class="card radius-card">
                            <span class="en-title-4xl">2025/10/10</span>
                            <p class="tw-b-l">即將到來</p>
                        </li>
                        <li class="card radius-card">
                            <span class="en-title-4xl">3/6</span>
                            <p class="tw-b-l">使用方案進度</p>
                        </li>
                    </ul>
                </div>
                <div class="consult-table">
                    <div class="filter-btns">
                        <div class="btns">
                            <button type="button" class="btn-md-fill radius-btn"><span class="tw-b-m">全部預約</span></button>
                            <button type="button" class="btn-md-outline radius-btn"><span class="tw-b-m">已完成</span></button>
                            <button type="button" class="btn-md-outline radius-btn"><span class="tw-b-m">已取消</span></button>
                        </div>
                        <button type="button" class="btn-md-outline radius-btn">
                            <span class="tw-b-m">排序</span>
                            <span class="material-symbols-outlined">filter_list</span>
                        </button>
                        <ul class="filter-drop-list radius-td shadow">
                            <li class="filter-drop-item"><a href="#" class="tw-b-m">新到舊</a></li>
                            <li class="filter-drop-item"><a href="#" class="tw-b-m">舊到新</a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-container tw-b-s">
                    <table class="consulting-program">
                        <caption>諮詢方案總表</caption>
                        <thead>
                            <tr>
                                <th scope="col">諮詢方案</th>
                                <th scope="col">預約日期</th>
                                <th scope="col">諮詢時長</th>
                                <th scope="col">諮詢方式</th>
                                <th scope="col">上課狀態</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">職涯定位-職涯探索包 | 6/6堂</th>
                                <td>2025/11/11</td>
                                <td>60分鐘</td>
                                <td><button type="button" class="btn-sm radius-td"><span>視訊</span></button></td>
                                <td>等待上課</td>
                            </tr>
                            <tr>
                                <th scope="row">職涯定位-職涯探索包 | 5/6堂</th>
                                <td>2025/10/10</td>
                                <td>60分鐘</td>
                                <td><button type="button" class="btn-sm radius-td"><span>視訊</span></button></td>
                                <td>等待上課</td>
                            </tr>
                            <tr class="finish">
                                <th scope="row">職涯定位-職涯探索包 | 4/6堂</th>
                                <td>2025/09/09</td>
                                <td>60分鐘</td>
                                <td><button type="button" class="btn-sm radius-td"><span>視訊</span></button></td>
                                <td>已完成</td>
                            </tr>
                            <tr class="finish">
                                <th scope="row">職涯定位-職涯探索包 | 3/6堂</th>
                                <td>2025/08/08</td>
                                <td>60分鐘</td>
                                <td><button type="button" class="btn-sm radius-td"><span>面對面</span></button></td>
                                <td>已完成</td>
                            </tr>
                            <tr class="finish">
                                <th scope="row">職涯定位-職涯探索包 | 2/6堂</th>
                                <td>2025/07/07</td>
                                <td>60分鐘</td>
                                <td><button type="button" class="btn-sm radius-td"><span>面對面</span></button></td>
                                <td>已完成</td>
                            </tr>
                            <tr class="finish">
                                <th scope="row">職涯定位-職涯探索包 | 1/6堂</th>
                                <td>2025/06/06</td>
                                <td>90分鐘</td>
                                <td><button type="button" class="btn-sm radius-td"><span>面對面</span></button></td>
                                <td>已完成</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
</body>
</html>