<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Record</title>
    <%- include('./layout/links'); -%>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="mian record-main">
        <div class="container">
            <div class="tab-list">
                <a href="./data.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">face</span>
                    <span class="tw-b-m">個人資料</span>
                </a>
                <a href="./record.html" class="btn-md-outline radius-btn active">
                    <span class="material-symbols-outlined icons">pending_actions</span>
                    <p>預約紀錄</p>
                </a>
                <a href="./plan.html" class="btn-md-outline radius-btn">
                    <span class="material-symbols-outlined icons">list_alt</span>
                    <p>職旅計畫</p>
                </a>
            </div>
            <div class="content radius-card shadow">
                <div class="record-cards">
                    <h1 class="tw-title-2xl">預約紀錄</h1>
                    <ul class="cards">
                        <li class="card radius-card">
                            <span class="en-title-4xl">3</span>
                            <p class="tw-b-l">已完成諮詢</p>
                        </li>
                        <li class="card radius-card">
                            <span class="en-title-4xl">2025/10/10</span>
                            <p class="tw-b-l">即將到來</p>
                        </li>
                        <li class="card radius-card">
                            <span class="en-title-4xl">3/6</span>
                            <p class="tw-b-l">使用方案進度</p>
                        </li>
                    </ul>
                </div>
                <div class="consult-table">
                    <div class="filter-btns">
                        <div class="btns">
                            <a href="#" class="btn-md-fill radius-btn"><span class="tw-b-m">全部預約</span></a>
                            <a href="#" class="btn-md-outline radius-btn"><span class="tw-b-m">已完成</span></a>
                            <a href="#" class="btn-md-outline radius-btn"><span class="tw-b-m">已取消</span></a>
                        </div>
                        <a href="#" class="btn-md-outline radius-btn">
                            <span class="tw-b-m">排序</span>
                            <span class="material-symbols-outlined">filter_list</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    
</body>
</html>