<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/links'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="main data-main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link body-md active" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="true"><span class="material-symbols-outlined align-bottom me-1">face</span>個人資料</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link body-md" id="pills-record-tab" data-bs-toggle="pill" data-bs-target="#pills-record" type="button" role="tab" aria-controls="pills-record" aria-selected="false"><span class="material-symbols-outlined align-bottom me-1">pending_actions</span>預約紀錄</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link body-md" id="pills-plan-tab" data-bs-toggle="pill" data-bs-target="#pills-plan" type="button" role="tab" aria-controls="pills-plan" aria-selected="false"><span class="material-symbols-outlined align-bottom me-1">list_alt</span>職旅計畫</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab" tabindex="0">
                            <div class="content-container d-flex flex-column">
                                <div class="content d-flex">
                                    <aside class="title title-2xl"><h2>個人資料</h2></aside>
                                    <div class="form-container d-flex flex-column">
                                        <div class="avatar d-flex align-items-end">
                                            <div class="imgs rounded-circle border me-3">
                                                <img src="../assets/images/avatar.png" alt="avatar">
                                            </div>
                                            <button type="button" class="btn btn-md-outline"><span class="material-symbols-outlined align-bottom me-1">upload</span>更新頭貼</button>
                                        </div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control input-floating" id="userName" placeholder="" value="Mokumaru">
                                            <label for="userName">姓名</label>
                                        </div>
                                        <div class="sex">
                                            <p class="radioName mb-2">性別</p>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="sexRadioOptions" id="sexFemale" value="female" checked>
                                                <label class="form-check-label" for="sexFemale">女性</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="sexRadioOptions" id="sexMale" value="male">
                                                <label class="form-check-label" for="sexMale">男性</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="sexRadioOptions" id="sexNone" value="none">
                                                <label class="form-check-label" for="sexNone">不願透露 (disabled)</label>
                                            </div>
                                        </div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="userBirth" placeholder="0000/00/00" value="2000/01/10">
                                            <label for="userBirth">生日</label>
                                        </div>
                                        <div class="form-password">
                                            <!-- Button trigger modal -->
                                             <div class="form-password-btn d-flex flex-column gap-2">
                                                 <label for="changePassword" class="form-label">密碼</label>
                                                 <button type="button" class="btn btn-md-outline align-self-start" id="changePassword" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                                                 修改密碼<span class="material-symbols-outlined align-bottom ms-1">chevron_right</span></button>
                                             </div>
    
                                            <!-- Modal -->
                                            <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title fs-5" id="changePasswordModalLabel">更新密碼</h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-floating mb-3">
                                                    <input type="password" class="form-control" id="floatingPassword" placeholder="">
                                                    <label for="floatingPassword">新密碼</label>
                                                    </div>
                                                    <div class="form-floating">
                                                    <input type="password" class="form-control" id="floatingPasswordAgain" placeholder="Password">
                                                    <label for="floatingPasswordAgain">再次密碼</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-md-fill">更新密碼<span class="material-symbols-outlined align-bottom ms-1">chevron_right</span></button>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="userEmail" placeholder="name@example.com" value="mokumaru@mail.com">
                                            <label for="userEmail">Email address</label>
                                            <p class="body-sm">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</p>
                                        </div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="userPhone" placeholder="09-0000-0000" value="09-1234-5678">
                                            <label for="userPhone">聯絡電話</label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="userAddress" placeholder="" value="高雄市三民區九如一路87號">
                                            <label for="userAddress">通訊地址</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="btns d-flex justify-content-center align-items-center gap-4">
                                    <button type="reset" class="btn btn-md-outline">重新填寫<span class="material-symbols-outlined align-bottom ms-1">chevron_right</span></button>
                                    <button type="submit" class="btn btn-md-fill">儲存更新<span class="material-symbols-outlined align-bottom ms-1">chevron_right</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-record" role="tabpanel" aria-labelledby="pills-record-tab" tabindex="0">
                            <div class="content d-flex flex-column">
                                <div class="title-cards d-flex flex-column">
                                    <h2 class="title-2xl">預約紀錄</h2>
                                    <div class="cards-group d-flex">
                                        <div class="card">
                                            <div class="card-body d-flex flex-column justify-content-center align-items-center gap-2">
                                                <h3 class="title-4xl">3</h3>
                                                <p class="body-lg">已完成諮詢</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body d-flex flex-column justify-content-center align-items-center gap-2">
                                                <h3 class="title-4xl">2025/10/10</h3>
                                                <p class="body-lg">即將到來</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body d-flex flex-column justify-content-center align-items-center gap-2">
                                                <h3 class="title-4xl">3/6</h3>
                                                <p class="body-lg">使用方案進度</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-group">
                                    <div class="btns">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-plan" role="tabpanel" aria-labelledby="pills-plan-tab" tabindex="0">職旅計畫</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
